.cases {
    display: flex;
    flex-direction: row;
}

.case {
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 1;
    
    height: 40vh;

    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    background-color: #fafafafa;
}

.case__inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}